html, body {
	background: yellow;
}

.feedEkList {
	list-style: none;
}

.feedEkList li {
	border-bottom: 1px solid #D3CAD7;
	padding: 10px;
}

.feedEkList li:last-child {
	border-bottom: none;
}

.itemTitle a {
	font-weight: bold;
	color: #4EBAFF !important;
	text-decoration: none
}

.itemTitle a:hover {
	text-decoration: underline
}

.itemDate {
	font-size: 11px;
	color: #AAAAAA;
}


/* Extra styling */

@import 'https://fonts.googleapis.com/css?family=Droid+Sans';
	body {
	font-family: 'Droid Sans', sans-serif;
	padding: .5rem;
}